.background-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media (max-width: 1024px) {
  .background-container {
    display: none;
  }
}

noindex:-o-prefocus, .background-container {
  display: none;
}
