section.about#about
  h2 QUIÉNES SOMOS
  .about-wrapper
    img(src="images/isometric.png", alt="")
    article
      p W3D es un estudio web de Barcelona que confía en un buen 
        strong diseño 
        |para añadir valor a tu marca. Nuestro objetivo es la 
        strong comunicación 
        | y la experiencia de usuario.
        span  Puedes ver nuestro trabajo o preguntar cualquier duda que tengas en cualquier momento
      
      .buttons
        a.home-cta.portfolio-button(href="#portfolio") PORTFOLIO
        a.home-cta.contact-button(href="#contact") CONTACTO
