section.project
  h2 EMPIEZA TU PROYECTO
  a.home-cta.project-button(href="#") COMENZAR
  

section.socket#contact
  h2 CONTACTO
  p Estaremos encantados si nos cuentas el proyecto que tienes pensado hacer. 
  strong Puedes contactar hoy mismo con nosotros.
  
  .contact-info
    .mail
      img(src="images/mail.svg", alt="")
      p info@w3ddesign.com
      
    .phone
      img(src="images/phone.svg", alt="")
      p 93 676 64 50
      
    .address
      img(src="images/home.svg", alt="")
      p Arador 2 local 17

  
  strong O puedes visitarnos en las redes sociales
  
  ul.social
    li
      a(href="#")
        img(src="images/social/facebook.svg", alt="")
    li
      a(href="#")
        img(src="images/social/twitter.svg", alt="")
    li
      a(href="#")
        img(src="images/social/behance.svg", alt="")
    li
      a(href="#")
        img(src="images/social/github.svg", alt="")
          

footer.footer
  .copyright-wrapper
    p Todos los derechos reservados 
      strong © 2015
      
    p
      img(src="images/logosocket.svg", alt="")
