.mobile-nav-toggle
    img(src="images/menu-toggle.svg", alt="")
  div.mobile-wrapper
    nav.mobile-navigation
      a.logo-mobile.scroll(href="#start")
        img(src="images/logoverde.svg", alt="W3D Design Logo")
      ul
        li
          a.scroll(href="#start") Inicio
        li
          a.scroll(href="#about") Quiénes Somos
        li
          a.scroll(href="#skills") Porqué elegirnos
        li
          a.scroll(href="#portfolio") Portfolio
        li
          a.scroll(href="#contact") Contacto
