section.portfolio#portfolio
  mixin portfolio(a, title)
    .portfolio-item
      a(href="#{a}")
        .label
          .title-wrap
            p.title #{title}
        
  
  h2 PORTFOLIO
  
  p Pellentesque erat velit, pretium vitae dui tempor, scelerisque posuere mi. Etiam fringilla scelerisque nulla volutpat vehicula. Donec tempus ut diam ac pharetra. Quisque quis odio convallis, imperdiet purus dignissim, tempor urna.
    
  .portfolio-wrapper
    
    +portfolio("http://www.w3ddesign.com", "Website")
    
    +portfolio("http://www.w3ddesign.com", "Website")
    
    +portfolio("http://www.w3ddesign.com", "Website")
    
    +portfolio("http://www.w3ddesign.com", "Website Template")
    
    +portfolio("http://www.w3ddesign.com", "Article")
    
    +portfolio("http://www.w3ddesign.com", "Article")
    
    +portfolio("http://www.w3ddesign.com", "Website Template")
    
    +portfolio("http://www.w3ddesign.com", "Website Template")
    
    +portfolio("http://www.w3ddesign.com", "Website Template")
    
    +portfolio("http://www.w3ddesign.com", "Article")
    
    +portfolio("http://www.w3ddesign.com", "Website Template")
    
    +portfolio("http://www.w3ddesign.com", "Website Template")
    
    
    
    
    
    
    
    
