section.responsive
  .responsive-wrapper
    article
      h2 DISEÑO RESPONSIVO
      p Somos conscientes de la importancia de los
        span  dispositivos móviles
        |  (teléfonos y tablets). Por eso la web de tu negocio se 
        span adaptará
        |  a todos ellos. 
        
    img(src="images/responsive.png", alt="")
      

section.code
  h2 UN CÓDIGO LIMPIO
  p Somos conscientes de la importancia de los
    span  dispositivos móviles
    |  (teléfonos y tablets). Por eso la web de tu negocio se 
    span adaptará
    |  a todos ellos.
    
  img(src="images/cleancodescreen.png", alt="")
