section.tools
  h2 TECNOLOGÍAS
  p Pellentesque erat velit, pretium vitae dui tempor, scelerisque posuere mi. Etiam fringilla scelerisque nulla volutpat vehicula. 
  
  .tools-wrapper
    figure
      img(src="images/tools/html.svg", alt="")
    figure
      img(src="images/tools/css.svg", alt="")
    figure
      img(src="images/tools/js.svg", alt="")
    figure
      img(src="images/tools/svg.svg", alt="")
    figure
      img(src="images/tools/sass.svg", alt="")
    figure
      img(src="images/tools/jade.svg", alt="")
    figure
      img(src="images/tools/bourbon.svg", alt="")
